<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.admin.auth.dao.mapper.AuthUserMapper">

    <select id="selectUserByAccount" resultType="com.happy.admin.auth.common.HappyAuthUser">
        select
               id as userId,
               account as userName,
               password from h_user
        where account=#{account}
    </select>

</mapper>
